@import "tailwindcss";

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* 🟢 LA MÉTHODE TRANSVERSE POUR CRUSH TOUTES LES BARRES DE DÉFILEMENT */
@layer utilities {
  /* Masquage pour Chrome, Safari, Edge et Opera */
  *::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  /* Masquage pour Firefox et Internet Explorer */
  * {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
  }
}